* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: BogleWeb, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.bg-color {
    background-color: #0071dc;
}

.alert-color {
    background-color: #004f9a;
}

.h7 {
    font-size: 18px;
}

.h6 {
    font-size: 12px;
}

.h5 {
    font-size: 14px;
}

.h4 {
    font-size: 16px;
}

.h3 {
    font-size: 32px;
}

.font-lg {
    font-weight: 600;
}

.white {
    color: #ffffff;
}

.container {
    width: 90%;
    margin: auto;
    margin-top: 28px;
}

header {
    height: 88px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

.flex {
    display: flex;
}

.align-items {
    align-items: center;
}

.justify-content {
    justify-content: center;
}

.justify-around {
    justify-content: space-around;
}

.justify-between {
    justify-content: space-between;
}

.padding {
    padding: 24px;
}

.menu-icon {
    display: none;
    margin-right: 15px;
}

.btns {
    height: 40px;
    padding: 20px;
    border-radius: 100px;
    border: none;
    background-color: inherit;
    transition: all 100ms cubic-bezier(0.77, 0, 0.175, 1) 0s;
    line-height: 20px;
    cursor: pointer;
}

.btns:hover {
    background-color: #004f9a;
}

.input {
    width: 100%;
    height: 38px;
    border-radius: 100px;
    border: none;
    text-indent: 15px;
}

.search {
    position: absolute;
    right: 3px;
    top: 6.5%;
    height: 35px;
    width: 35px;
    border-radius: 100%;
    border: none;
    background-color: #ffc220;
}

.input:focus {
    border-radius: 2px;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 130px;
    height: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 64px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: none;
    transition: all 0s;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.sign-in {
    position: absolute;
    top: 1px;
}

.btn-cart {
    background: none;
    border: none;
    cursor: pointer;
}

.cart-count {
    background-color: #ffc220;
    border: 1px solid #000;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    padding: 0.1px;
    position: absolute;
    right: 5px;
    top: -10px;
}

section.alert {
    height: 40px;
    width: 100%;
    margin-top: 88px;
}

section i {
    margin-right: 7px;
    cursor: pointer;
}

section u {
    cursor: pointer;
}

/* Hero image */

.hero-img {
    background-image: url("assets/image1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 470px;
    width: 100%;
    border: 10px solid orange;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.gallery {
    border: 2px solid #ccc;
}

div.gallery:hover {
    border: 1px solid rgb(3, 3, 3);
}

div.gallery img {
    width: 100%;
    height: 250px;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.responsive {
    justify-content: center;
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 33.33%;
    border-radius: 20px;
    cursor: pointer;
    padding: 5px;
    border: 1px solid rgb(136, 130, 130);
}

/* Clearfix (clear floats) */

.row::after {
    content: "";
    clear: both;
    display: table;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */

@media screen and (max-width: 500px) {
    .column {
        width: 100%;
    }
}

.column-2 {
    float: left;
    width: 10%;
    border-radius: 20px;
}

.btn:hover {
    border-color: black;
}

.column-2 {
    float: left;
    width: 33.33%;
    border-radius: 10px;
    margin-top: 10px;
    padding: 5px;
    border: 1px solid rgb(136, 130, 130);
    cursor: pointer;
}

.column-2:hover {
    border: 1px solid black;
}

.shop-button {
    border-radius: 62.5rem;
    padding: 0 1rem;
    margin-top: 10px;
    font-size: 0.8rem;
    height: 2.5rem;
    font-weight: bold;
    cursor: pointer;
}

.shop-button:hover {
    background-color: rgb(10, 10, 10);
    border-color: black;
    color: #fff;
}

.add-button {
    border-radius: 62.5rem;
    background-color: #0071DC;
    padding: 0 1rem;
    margin-top: 10px;
    font-size: 1rem;
    color: #fff;
    height: 2.5rem;
    cursor: pointer;
    font-weight: bold;
    border-style: none;
    margin-left: 20px;
}

.add-button:hover {
    background-color: #06599c;
    border-color: black;
}